<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />

    </startup>
  <appSettings>
    <add key="email" value="" />
    <add key="password" value="" />
    <add key="autolog" value="false" />
    <add key="sendto" value="leandroateles@gmail.com" />
    <add key="checkin" value="Attendance - In" />
    <add key="checkout" value="Attendance - Out" />
    <add key="lunchlength" value="30" />

    <add key="gmail.com" value="smtp.gmail.com|587" />
    <add key="hotmail.com" value="smtp.live.com|587" />
    <add key="live.com" value="smtp.live.com|587" />
    <add key="yahoo.com" value="	smtp.mail.yahoo.com|465" />
    <add key="aol.com" value="smtp.aol.com|587" />
    <add key="comcast.net" value="smtp.comcast.net|587" />
    <add key="verizon.net" value="outgoing.verizon.net|465" />

  </appSettings>

</configuration>